
/* font-family: 'Recursive', sans-serif;
font-family: 'Oswald', sans-serif; */


/***** HEADER *****/
#Nav_Top{
    margin: 0px, 5px 0px 5px;
    background-color: rgb(255, 116, 2);
    border: solid 2px rgb(24, 33, 39);
    border-top: 0px;
    
}
.navbar-brand #company-name{
    font-family: 'Recursive', sans-serif;
    text-shadow: 2px 2px 5px rgb(41, 57, 66) ;
    color: rgb(2, 67, 87);
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
    right: 5px;
    
}

.navbar-brand:hover{
    background-color: rgb(235, 81, 34);
    text-decoration: none;  
}

/***** END of HEADER *****/

/***** BODY *****/
body{
    background-color: rgb(255, 124, 205);
    padding-left: 0;
    font-family: 'Recursive', sans-serif;
}
#Middle{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

#Main-content > .box-order{
    background-color: rgb(255, 133, 77);
    height: 1000px;
    margin: 3%;
    position: relative;
    left:0%;
    float: left;
    overflow: hidden;
}

.Food_Title{
    text-align: center;
    padding: 10px;
    color: rgb(0, 27, 43);   
    padding-top: 100px;
}

.desc{
    font-family: 'Oswald', sans-serif;
    margin: 18px 10px 5px 10px;
    padding: 50% 10px 30px 10px;
}
.box-order a{
    padding: 20px;
    color: wheat;
    text-align: center;
    background-color: rgb(28, 202, 255);
    position: absolute;
    bottom:10px;
    
}
    
.box-order a:hover{
    background-color: rgb(3, 44, 56);
    color: rgb(0, 106, 138);
    text-decoration: none;
}


/******************  SMALLDEVICES *********************/
#navbar-header{
    clear: both;
}
.navbar button.navbar-toggler{
    position: relative;
    left: 90%;
    bottom: 60px;
    float: left;
    
}
.navbar button.navbar-toggler:hover{
    background-color: rgb(253, 136, 100);
    border: 1px solid rgb(3, 194, 207); 
}
.navbar-collapse{
    padding-left:0px;
}
.nav-list{
    margin-left:0px;
}
.nav-item{
    text-align: center;   
    font-size: 3vw;
    margin-left: -50px;
}
